@charset "utf-8";
.bg-smooth {
	color: #FFFFFF;
	background-color: #196D9C;
}

.bg-active {
	color: #FFFFFF;
	background-color: #196D9C;
}

.greeting {
	font-size: 64px;
}

#my-nav {
	background-color: #F8F8F8;
	color: #196D9C;

}

#my-nav .navbar-brand {
	color: #196D9C;
}

#my-nav .nav-link {
	color: inherit;
}
.icon {
	color: #196D9C;
	margin: 6px;
	font-size: 24px;
}
.container .my-navbar {
	border-style: groove;
	color: #196D9C;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;

}
#greeting-panel {
	color: #FFFFFF;
	background-color: #196D9C;

}
.body-wrap {
	border-radius: 4px;
	display: inherit;
	font-family: raleway;
	font-style: normal;
	font-weight: 500;
	font-variant: normal;
}
